{{css '/css/index.css'}}
<div class="topBanner">
    <h1>Welcome to KnowTrans Site</h1>
    <h2>" To Konw And To Transmit "</h2>
    <a href="/blog" class="btnblock">我的文章</a>
    <a href="/trans" class="btnblock">散点翻译</a>
    <a href="" class="btnblock">实验室</a>
    <a href="" class="btnblock">html5游戏</a>
</div>
<div class="container">
    
</div>