<div class="container">
    <div class="jumbotron">
        {{>logo_asc}}
        <h1>Welcome KnowTrans</h1>
        <h3><a href="">www.knowtrans.com</a><span class="pull-right">To Konw And To Transmit</span></h3>
    </div>
    {{# if m}}
    <div class="alert alert-info" role="alert">
        <strong>{{m}}</strong> This alert needs your attention, but it's not super important.
    </div>
    {{/if}}
</div>