#body{min-height: 600px;}
#footer{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}

/*导航栏*/
.navbar-brand{
    font-weight: 700;
}
.navbar-nav>li>a:hover{
    border-bottom: 2px solid #337ab7;
    background-color: transparent;
    padding-bottom: 13px;
}
.navbar-nav>li.active>a{
    border-bottom: 2px solid #337ab7;
    background-color: transparent;
    padding-bottom: 13px;
}