{{css '/bower_components/editor.md/css/editormd.min.css'}}
{{js '/bower_components/editor.md/editormd.min.js'}}
{{js '/dashboard/js/lab_add.js'}}
<div class="row">
    <div class="col-sm-12">

        <form action="/dashboard/lab/add" method="post" id="labAddForm">
          <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="slug">slug</label>
            <input type="text" class="form-control" name="slug" placeholder="只允许字母、数字和'-'">
          </div>
          <div class="form-group">
            <label for="version">版本</label>
            <input type="text" class="form-control" name="version">
          </div>
          <div class="form-group">
            <label for="brief">简介</label>
            <textarea name="brief" rows="3" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="content">详细内容</label>
          </div>
          <div class="form-group" id="labContentEdite">
            <textarea style="display: none;"  name="content"></textarea>
          </div>
          <div class="form-group">
            <label for="demo_link">演示地址</label>
            <input type="url" class="form-control" name="demo_link">
          </div>
          <button type="submit" class="btn btn-info">添加</button>
        </form>
    </div>
</div>