<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{#if blogs}}
                {{#each blogs}}
            <div class="well">
                <h3>{{title}}</h3>
                <p>{{brief}}</p>
                <a class="btn btn-info btn-xs" href="/blog/{{slug}}">查看更多</a>
            </div>
                {{/each}}
            {{else}}
            <p>还没有文章哦~</p>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" style="text-align: center;">
            {{>pagination}}
        </div>
    </div>
</div>