<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{#if categorys}}
            <a class="btn btn-info">gwg</a>
            {{else}}
            <p>还没有分类哦~</p>
            {{/if}}
        </div>
    </div>
</div>